body{
    box-sizing: border-box;
    margin:0%;
    padding: 0%;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(#0e4703,#f8b165);
}
.container {
    position: relative;
}
h4
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(162, 224, 19);
    padding-bottom: 15px;
}
.head {
    height: 100%;
    width: 100%;
    border-bottom: 3px solid rgb(35, 48, 35);
    padding-top: 50px;
    text-shadow: rgb(14, 14, 14);
}
.btn {
    padding-top: 30px;
    font-size: 20px;

}

button {
    color: white;
    font-weight: bold;
    height: 40px;
    width: 150px;
    background-color: hsl(210, 79%, 19%);
    border-radius: 10px;
    font-size: 20px;
}

#data {
    width: 40vw;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 0% 870px;
}
td
{
    padding-right:  50px;
}
.table {
    width: 50vw;
}

table {
    color: rgb(237, 245, 9);
    font-size: 18px;

}
table tr :hover {
    background-color: #cfe2dc;
}
img {
    clip-path: calc();
}
.foot
{
    padding-top: 205px;
    line-height: 85px;
    padding-left: 0px;
    font-size: 20px;
    color:rgb(240, 19, 19);
} 